/* general styles */
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700|Average+Sans:400);

html { overflow-y:scroll; }
body { font-family: helvetica, arial, freesans, clean, sans-serif; background:#fffae9; }
a { text-decoration: none; }
a:link, a:visited { color: #ee376f; } 
a:hover { color: #ee376f; text-decoration:underline; }
ul { list-style-type:square; }
blockquote { margin:5px 15px; font-style:italic; }
blockquote > p { margin:0; }

/* layout */
#container {
  margin: 50px auto 20px;
  min-height:300px;
  font-size:14px;
  color:#865;
}
#sidebar, #content {
  margin:0;
  padding:12px 10px 12px 18px;
}
#content {
  min-height:300px;
  margin-left:9px;
  border-left:1px solid #ddd;
}

/* sidebar */
#sidebar {
  margin:0;
  padding-left:10px;
  font-size:14px;
  color:#865;
}
#sidebar p {
  text-align:center;
}
#sidebar a:link, #sidebar a:visited, #sidebar a:hover {
  color:#ee376f;
}
.sitetitle {
  display:inline-block;
  text-align:center;
  margin-bottom:15px;
  font-family: 'Lobster Two', serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  color: #de376f;
  text-shadow: 0px 1px 0px #ddd;
}
h1 {
  margin:8px 4px;
  font-family: 'Average Sans', sans-serif;
  font-size:36px;
  text-shadow: 1px 1px 0px #bbb;
  color:#865;
}
h2 {
  font-size:18px;
  margin:15px 0 8px;
}

#content pre, #content code {
  font-family: monospace;
  background-color: #fafafa;
}
#content code {
  border: 1px solid #dadada;
  padding:0 2px;
}
#content pre>code {
  border:none;
  padding:0;
}
#content pre {
  border: 1px solid #dadada;
  margin: 10px 10px 10px 15px;
  padding: 2px 4px;
  width:auto;
  overflow-x: auto;
  overflow-y: hidden;
}
#content h2+pre {
  font-size: 16px;
  padding: 4px 7px 2px;
  border: 1px solid #ccc;
}
#content h2+pre, #content h2+pre>code {
  background-color:#e5e5e8;
  color: #000;
}
#content p {
  margin:8px 0 6px;
}
span.time {
  font-family:monospace;
  padding:0 4px;
}
