<div id=footer>
  <div class=container_16>
    <div class=grid_8>
      <h2>Promoted Posts</h2>
      <ul>
        <li><a href="/posts/2011-06-12-cas-authentication-for-redmine.html">CAS Authentication for Redmine</a></li>
        <li><a href="/posts/2011-12-12-trying-cloudfoundry-with-vagrant-and.html">Trying CloudFoundry with Vagrant ... and some patience</a></li>
        <li><a href="/posts/2009-08-24-supervision-cpu-via-snmp.html">[fr] Supervision CPU via SNMP</a></li>
        <li><a href="/posts/2009-06-06-extension-dun-disque-lvm-en.html">[fr] Extension d'un disque LVM en environnement SAN</a></li>
        <li><a href="/posts/2008-05-21-introduction-a-lurl-rewriting.html">[fr] Introduction à l'URL rewriting</a></li>
        <li><a href="/posts/2008-05-16-introduction-aux-expressions-regulieres.html">[fr] Introduction aux expressions régulières</a></li>
      </ul>
    </div>
    <div class=grid_8>
      <h2>Projects</h2>
      <ul>
        <li>
          <b><a href="http://www.redmine.org/">Redmine</a></b>
          <em>(occasional contributor, prolific plugin author)</em>
          <br>
          Flexible project management web application. You can find all my plugins
          <a href="https://github.com/jbbarth">on GitHub</a>.
        </li>
        <li>
          <b><a href="http://cartoque.org/">Cartoque</a></b>
          <em>(main developer)</em>
          <br>
          Tiny CMDB solution I built for my current job.
        </li>
      </ul>
    </div>
  </div>
</div>
